<h1>Here is a list of all your favorites</h1>



<% results.forEach(result => { %>
  <p> <%=result.recipe.name%> </p>
  <img src="<%=result.image %>" alt="">
  <a href="/recipes/<%=result.recipe.recipeId %>">Click here to view details</a>
 
  <form method="POST" action="/users/favorites/<%=result.recipe.recipeId %>/?_method=DELETE">
    <input type="submit" value="delete">
  </form>
  <% }) %>

    










<% if (!locals.username) { %>
  <script>
      let currentUser = localStorage.getItem('user')
      document.getElementById('email').value = currentUser
      console.log(`User logged in: ${currentUser}`)
  </script>
<% } else { %>

  <script>
      if(!localStorage.getItem('user')) {
      let user = "<%- email %>"
      localStorage.setItem('user', user) 
    }

    let currentUser = localStorage.getItem('user')
    console.log(`User logged in: ${currentUser}`)
  </script>
<% } %>