
<form method="GET" action="/recipes">
   <input hidden type="text" id="email" name="email">
   <button>Go back and search for more recipes</button>
</form>


   <% meals.forEach((meal) => { %>
      <h2> <%= meal.strMeal %> </h2>
      <div class="instructions">
         <img class="detailImg" src="<%= meal.strMealThumb %>" alt="">
         
         <div class="itemContainer">
            <% items.forEach((item) => { %>
               <p> <%= item %>  </p> 
           <% }) %>
         </div>
           
         
        
      </div>
    <div class="instructionsContainer">
      <h2 class="instrucTitle">Instructions</h2>
      <%= meal.strInstructions %>
    </div>
    <% }) %>

    
    <form method="POST" action="/users/favorites/<%= recipeId %>">
      <input type="hidden" id="userInput" name="email">
      <% meals.forEach(meal => { %>
          <input type="hidden" id="recipeName" name="recipe" value="<%=meal.strMeal%>"> 
          <input type="hidden" name="mealId" value="<%=meal.idMeal %>">
      <% }) %>
      <input type="submit" value="Add to Favorite" name="Favorite" >
   </form>


<% if (!locals.email) { %>
   <script>
       let currentUser = localStorage.getItem('user')
       document.getElementById('userInput').value = currentUser
       console.log(`User logged in: ${currentUser}`)
       document.getElementById("email").value= currentUser
   </script>
<% } else { %>

   <script>
       if (!localStorage.getItem('user')) {
           let user = "<%- email %>"
           localStorage.setItem('user', user)
       }
       
       let currentUser = localStorage.getItem('user')
       console.log(`User logged in: ${currentUser}`)
       document.getElementById("email").value= currentUser
       document.getElementById('userInput').value = currentUser
   </script>
<% } %>