<h1>Meal Full Recipe</h1>
<ul>
   <% meals.forEach((meal) => { %>
    <img src="<%= meal.strMealThumb %>" alt="">
    <li>
       <%= meal.strMeal %>
    </li>   
    <li>
        <%= meal.strInstructions %>
    </li> 
    <% }) %>
</ul>

 <ul>
    <% items.forEach((item) => { %>
       <li> <%= item %> </li> 
    <% }) %>
</ul>


<form method="POST" action="/users/favorites/<%= recipeId %>">
   <input type="submit" value="Add to Favorite" name="Favorite" >
</form>
