
<form  method="GET" action="/recipes">
   <input hidden type="text" id="email" name="email">
   <button class="backBtn">Go back and search for more recipes</button>
</form>


   <% meals.forEach((meal) => { %>
      <h1 class="mealName"> <%= meal.strMeal %> </h1>
      <div class="imageContainer">
         <img class="detailImg" src="<%= meal.strMealThumb %>" alt="">
      </div>  
         <div class="itemContainer">
            <% items.forEach((item) => { %>
               <p> <%= item %>  </p> 
           <% }) %>
         </div>
    
         <hr>
     
   <h2 class="instrucTitle">Instructions</h2>
    <div class="instructionsContainer">
       <p> <%= meal.strInstructions.split(',') %> </p> 
    </div>
    <% }) %>

    
    <form  method="POST" action="/users/favorites/<%= recipeId %>">
      <input type="hidden" id="userInput" name="email">
      <% meals.forEach(meal => { %>
          <input type="hidden" id="recipeName" name="recipe" value="<%=meal.strMeal%>"> 
          <input type="hidden" name="mealId" value="<%=meal.idMeal %>">
      <% }) %>
      <button class="like" type="submit" name="Favorite">
         <i class="fas fa-heart"></i>
      </button>
   
   </form>


<% if (!locals.email) { %>
   <script>
       let currentUser = localStorage.getItem('user')
       document.getElementById('userInput').value = currentUser
       console.log(`User logged in: ${currentUser}`)
       document.getElementById("email").value= currentUser
   </script>
<% } else { %>

   <script>
       if (!localStorage.getItem('user')) {
           let user = "<%- email %>"
           localStorage.setItem('user', user)
       }
       
       let currentUser = localStorage.getItem('user')
       console.log(`User logged in: ${currentUser}`)
       document.getElementById('email').value= currentUser
       document.getElementById('userInput').value = currentUser
   </script>
<% } %>


