
   <% meals.forEach((meal) => { %>
      <h2> <%= meal.strMeal %> </h2>
      <div class="instructions">
         <img class="detailImg" src="<%= meal.strMealThumb %>" alt="">
         <ol>
            <% items.forEach((item) => { %>
               <li class="item"> <%= item %> </li> 
            <% }) %>
         </ol>
        
      </div>
    <div>
      <h2 class="instrucTitle">Instructions</h2>
      <%= meal.strInstructions %>
    </div>
    <% }) %>

    
    <form method="POST" action="/users/favorites/<%= recipeId %>">
      <input type="hidden" id="userInput" name="useremail" value="test">
      <% meals.forEach(meal => { %>
          <input type="hidden" id="recipeName" name="recipe" value="<%=meal.strMeal%>"> 
          <input type="hidden" name="mealId" value="<%=meal.idMeal %>">
      <% }) %>
     
      <input type="submit" value="Add to Favorite" name="Favorite" >
   </form>


<% if (!locals.username) { %>
   <script>
       let currentUser = localStorage.getItem('user')
       document.getElementById('userInput').value = currentUser
       console.log(`User logged in: ${currentUser}`)
   </script>
<% } else { %>

   <script>
       if (!localStorage.getItem('user')) {
           let user = "<%- username %>"
           localStorage.setItem('user', user)
       }
       
       let currentUser = localStorage.getItem('user')
       console.log(`User logged in: ${currentUser}`)
   </script>
<% } %>