
   <% meals.forEach((meal) => { %>
      <div class="imageContainer">
         <img class="detailImg" src="<%= meal.strMealThumb %>" alt="">
      </div>  
         <div class="itemContainer">
            <h1 class="mealName"> <%= meal.strMeal %> </h1>
            <% items.forEach((item) => { %>
               <p> <%= item %>  </p> 
            <% }) %>
         </div>
         
         <hr>
     
   <h2 class="instrucTitle">Instructions</h2>
    <div class="instructionsContainer">
       <p> <%= meal.strInstructions %> </p> 
    </div>
    <% }) %>

    
    <form id="favoriteForm" method="POST" action="/users/favorites/<%= recipeId %>">
      <input type="hidden" id="userInput" name="email">
      <% meals.forEach(meal => { %>
          <input type="hidden" id="recipeName" name="recipe" value="<%=meal.strMeal%>"> 
          <input type="hidden" name="mealId" value="<%=meal.idMeal %>">
      <% }) %>
      <button class="like" type="submit" name="Favorite">
         <i class="fas fa-heart"></i>
      </button>
   </form>




<script>
   if(currentUser == null){
      document.getElementById('favoriteForm').style.display ='none'
   }
   document.getElementById('userInput').value = currentUser
</script>
